.git
.gitignore
.husky
.vscode
node_modules
**/node_modules
dist
**/dist
.env
.env.*
packages/server/.env
packages/server/.env.*
coverage
**/coverage
test
**/test
*.log
*.log
# packages/db/generated-client (MUST NOT BE IGNORED for builder stage)
# packages/db/src/generated-client (MUST NOT BE IGNORED for builder stage)