node_modules/
dist/
dist-tsc/
build/

# Environment variables
.env
.env.*
!.env.example

.DS_Store
coverage/
.pnpm-debug.log*
.npm
*.log
tsconfig.tsbuildinfo
packages/db/generated/
packages/db/generated-client/
